<script>
    function printValue(sliderID, textbox) {
        var x = document.getElementById(textbox);
	var y = document.getElementById(sliderID);
	x.value = y.value;
    }



<h1>Choose your color</h1>


<form action="/singlecolorpicker/choose" method="GET">

{% csrf_token %}

    <input type="radio" name="color" value="red">Red<br>
    <input type="radio" name="color" value="green">Green<br>
    <input type="radio" name="color" value="blue">Blue<br>
    <input type="radio" name="color" value="white">White<br>
    <br>
    <br>
    Change Brightness
    <input id=brightness type="range" name="brightness" min=0 max=100 steps=1 onchange="printvalue('brightness', 'brightnessValue')"/>
    <input id="brightnessValue" type="text" size="2">
    <br>
    <input type="submit" value="Send to LED Panel">
</form>
